[Desktop Entry]
Encoding=UTF-8
Name=FatCoin
Comment=FatCoin P2P Cryptocurrency
Comment[ru]=FatCoin, P2P криптовалюта
Comment[fr]=FatCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=FatCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/fatcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/fatcoin80.xpm
MimeType=x-scheme-handler/fatcoin;
Categories=Office;
